@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.font-open-sans {
  font-family: 'DM Sans', sans-serif;
}

index, body, html, root {
  width: 100%;
  height: 100dvh;
}

body {
  @apply font-dmSans;
}

.dapp-core-component__extensionLoginButton-styles__no-extension-button-title,
.dapp-core-component__extensionLoginButton-styles__no-extension-button-wrapper {
  display: none;
}

